#blogsection {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog-post {
    padding:40px;
    margin: 20px;
    width: 40%;
    margin-right: 0%;
    background-color: #3a506b;
    border-radius: 8px;
    color: white;
}

.heading {
    padding-bottom: 5px;
}

#title {
    font-size: 32px;
    color:white;
    text-decoration: none;
}

#read {
    color: #5bc0be;
}

img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #1c2541;
}