@font-face {
    font-family: 'mainFont';
    src: url('../ocraextended.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('../ocraextended.tff') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
    margin: 0;
    font-family: "mainFont", monospace;
    font-style: normal;
    font-weight: lighter;
    width: 100%;
}

body {
    color: white;
    margin: 0;
}

#blogsection {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog-post {
    padding:40px;
    margin: 20px;
    width: 40%;
    margin-right: 0%;
    background-color: #3a506b;
    border-radius: 8px;
    
}

.heading {
    padding-bottom: 5px;
}

#title {
    font-size: 32;
}

img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #1c2541;
}