.discord-widget {
    width: 260px;
}

.github-widget {
    background: white;
}

html {
    margin: 0;
    font-family: "mainFont", monospace;
    font-style: normal;
    font-weight: lighter;
    height: 200%;
    font-size: 100%;
    overflow: scroll;
    overflow-x: hidden;
}