/* General */
@font-face {
    font-family: 'mainFont';
    src: url('/ocraextended.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('/ocraextended.tff') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

html {
    margin: 0;
    padding:0;
    font-family: "mainFont", monospace;
    font-style: normal;
    font-weight: lighter;
    height: 100%;
    font-size: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
body {
    margin: 0;
    padding:0;
    background-color: #0B132B; 
    color: white;
    text-align: center;
    justify-content: center;
    place-items: center;
    height: 95vh;
    display: grid;
}
/* ---------------- */

/* Game info section */
#game-info {
    display: grid;
    padding-bottom: 20%;
}