input[type="text"]{
    font-size: 18px;
    display: inline-block;
    background-color: white;
    width: 33%;
    border-radius: 8px;
    border: 8px solid white;
    box-sizing: border-box;
    padding-left: 2%;
    font-family: "mainFont", monospace;
}

input[type="submit"] {
    display: inline-block;
    font-size: 18px;
    width: 33%;
    background-color: #3a508b;
    padding: 2% 0% ;
    color:white;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #3a508b;
    font-family: "mainFont", monospace;
}
