@font-face {
    font-family: 'mainFont';
    src: url('../../ocraextended.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('../../ocraextended.tff') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
    margin: 0;
    font-family: "mainFont", monospace;
    font-style: normal;
    font-weight: lighter;
    background-color: #0B132B; 
    width: 100%;
}

body {
    margin: 0;
}

#header {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 80px;
    grid-template-areas: "Left Right";
}

.header-left, .header-right {
    font-size: 20px;
    background-color: #1c2541; 
}

.header-left {
    padding-left: 3%;
    grid-area: Left;
    
}

.header-left a {
    float: left;
    font-size: 30px;
    color: white;
    padding: 0px 10px;
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: perspective(0px) translateY(-50%);
    margin: 0;
}

/* Animation for left hand buttons */
/* #region */
*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.header-left > .navigator:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    top: 30px;
    background: white;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
}

.header-left > .navigator:hover:before,
.header-left > .navigator:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

/* #endregion*/

.header-right{
    grid-area: Right;
    padding-right: 3%;
}

.header-right a{
    padding: 0px 6px;
    float: right;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.header-right div{
    padding: 0px 6px;
    float: right;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

#headerButton {
    color: white;
    padding-right: 10px;
}

#headerButton:hover {
    color: #3A506B;
}

#loginButton {
    background-color: #1c2541;
    border: 4px solid white;
    
    text-decoration:none;
    color: white;
    height: 60%;
    border-radius: 10px;
    cursor: pointer;
}

#loginButton a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 0 auto;
}

#loginButton:hover {
    color: white;
    background: #101c3f;
}

#menu-icon {
    display: hidden;
    color: white;
	width: 40px;
	height: 40px;
	background-image:url(menu-icon.png);

}
/*
@media only screen and (max-width: 1635px) {
    /* For mobile phones: Should probably change to Mobile First design
    .header-left, .header-right {
        font-size: 20px;
        background-color: #3A506B; 
    }
    #menu-icon {

		display: relative;
        background-color: white;
	}

}
*/