<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.htm" />
        <remove value="Default.asp" />
        <add value="landingpage.html" />
      </files>
    </defaultDocument>
        <httpRedirect enabled="false" destination="https://cyberslash.net" httpResponseStatus="Found" />
  </system.webServer>
</configuration>